
html, body {
margin:0;
padding:0;
}

h1 {
color : black;
padding:0;
margin:0;
}

.nav-link {
color : lightcyan;
background : url(../images/console.gif);
opacity : 0.3;
    font-size: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 2rem;
}

#titlead {
text-align : right;
padding: 3px 315px 0px 0px;
background:url(../images/goatTakedown.gif);
background-repeat: no-repeat;
background-size : cover;
position : static;
left:0px;
top:0px;
opacity : 0.71;
box-shadow: 0px 0px 5px 0px;
}

#titleed {
text-align : center;
    background:  #aaa;
position : static;
    margin-left: 1rem;
left:0rem;
top:0rem;
    width: 42rem;
opacity : 0.78;
    border-radius: 2rem;
box-shadow: 0px 0px 5px 0px;
    
}

#titleed#year {
    margin-left: 2rem;
}

#titlewo {
text-align : right;
padding: 3px 315px 0px 0px;
background:url(../images/console.gif);
position : static;
left:0px;
top:0px;
opacity : 0.66;
box-shadow: 0px 0px 5px 0px;
}

#title {
text-align : right;
padding: 3px 315px 0px 0px;
background:url(../images/shootingStar.gif);
position : static;
left:0px;
top:0px;
opacity : 0.78;
box-shadow: 0px 0px 5px 0px;
}

#navbar {
background : url(../images/blackWood.jpeg);
background-repeat: no-repeat;
background-size :cover;
padding : 25px 15px 25px 15px;
position:relative;
    display: block;
top:0px;
height: 3rem;
z-index:99;
}

#icon {
border-radius: 25px;
    height: 4rem;
    width: 4rem;
}

#main {
float:left;
margin: 10px;
}

#refTitle {
text-indent: 50px;
}

#addTitle {
text-indent : 90px;
}

.book {
text-indent : 130px;
}


#comp {
    vertical-align:25px;
}

#alyssa {
background : linen;
}
#tysh {
background : lightsteelblue;
}

#lacy {
background : lavender;
}

#lucy {
background : thistle;
margin-top : 10px;
margin-bottom : 10px;
margin-right : 10px;
margin-left : 10px;
}
#refPic {
padding : 25px 25px 25px 25px;
float : left;
}
#bioInfo {
float : left;
padding : 30px 25px 0px 25px;
}
#name {
padding : 65px 10px 0px 10px;
}
#refP {
max-width : 300px;
}
#refContent {
float : left;
outline : ridge;
}

a {
color : black;
text-decoration : none;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:1.3rem;
   width:100%;
background : url(../style/rain.gif);
text-align : center;
color : black;
opacity : 0.33;
z-index:100;
}

.body {
background : #555;
background-repeat: no-repeat;
background-size : cover;
}

#main {
background : #bbb;
opacity: 0.78;
    border-radius: 1rem;
    width: 67rem;
    height: 4rem;
}

#Employers {
font-family: Copperplate / Copperplate Gothic Light, sans-serif;
}

#work {
background : url(../images/steel.jpeg);
background-repeat: no-repeat;
background-size : cover;
}

#addSkill {
background : url(../images/letterHead.jpeg);
background-repeat: no-repeat;
background-size : cover;
}

#workList {
list-style-image : url(../images/work.png);
}

#exp {
list-style-image : url(../images/checkBox.png);
}

.programming {
list-style-image : url(../images/keyboard1.png);
}

.heading {
cursor : pointer;
}

.projects {
cursor : pointer;
}

#edu {
list-style-image : url(../images/edu15.png);
}

#certs {
list-style-image : url(../images/Cert.png);
}

.eduCert {
text-indent : 30px;
}

.indent {
text-indent : 30px;
}

#schools {
list-style : none;
padding : 6px 0px 0px 20px;
}

#subjects {
    visibility:hidden;
}

#ref {
background : url(../images/sky.jpg);
background-repeat: no-repeat;
background-size : cover;
}

#references {
list-style-image : url(../images/person.png);
}

.audit {
cursor : default;
}

