
html, body {
margin:0;
padding:0;
}

h1 {
color : RebeccaPurple;
buffer : 0;
padding:0;
margin:0;
}

.rightLink {
color : lightcyan;
background : url(../images/blackWood.jpeg);
opacity : 0.3;
}

#st {
color : teal
}

#year {
color : white;
text-align : right;
padding : 0px 0px 7px 0px;
}

#titleed {
text-align : right;
padding: 3px 315px 0px 0px;
background:url(../images/goodMorning.gif);
background-repeat: no-repeat;
background-size : cover;
position : static;
left:0px;
top:0px;
opacity : 0.78;
box-shadow: 0px 0px 5px 0px;
}

#titlewo {
text-align : right;
padding: 3px 315px 0px 0px;
background:url(../images/console.gif);
position : static;
left:0px;
top:0px;
opacity : 0.66;
box-shadow: 0px 0px 5px 0px;
}

#title {
text-align : right;
padding: 3px 315px 0px 0px;
background:url(../images/shootingStar.gif);
position : static;
left:0px;
top:0px;
opacity : 0.78;
box-shadow: 0px 0px 5px 0px;
}

#head {
background : url(../images/blackWood.jpeg);
background-repeat: no-repeat;
background-size : cover;
padding : 25px 15px 25px 15px;
position:fixed;
top:0px;
right:0px;
height: 100%;
z-index:99;
}

#icon {
border-radius: 25px;
}

#main {
float:left;
margin: 10px;
}

#refTitle {
text-indent: 50px;
}

#addTitle {
text-indent : 90px;
}

.book {
text-indent : 130px;
}


#comp {
    vertical-align:25px;
}

#alyssa {
background : linen;
}
#tysh {
background : lightsteelblue;
}

#lacy {
background : lavender;
}

#lucy {
background : thistle;
margin-top : 10px;
margin-bottom : 10px;
margin-right : 10px;
margin-left : 10px;
}
#refPic {
padding : 25px 25px 25px 25px;
float : left;
}
#bioInfo {
float : left;
padding : 30px 25px 0px 25px;
}
#name {
padding : 65px 10px 0px 10px;
}
#refP {
max-width : 300px;
}
#refContent {
float : left;
outline : ridge;
}

a {
color : black;
text-decoration : none;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:33px;
   width:100%;
background : url(../style/rain.gif);
text-align : center;
color : dodgerblue;
opacity : 0.53;
z-index:100;
}

.body {
background : url(../images/goldV.jpeg);
background-repeat: no-repeat;
background-size : cover;
}

#main {
background : url(../images/oldPaper.png);
opacity: 0.78;
}

#Employers {
font-family: Copperplate / Copperplate Gothic Light, sans-serif;
}

#work {
background : url(../images/steel.jpeg);
background-repeat: no-repeat;
background-size : cover;
}

#addSkill {
background : url(../images/letterHead.jpeg);
background-repeat: no-repeat;
background-size : cover;
}

#workList {
list-style-image : url(../images/work.png);
}

#exp {
list-style-image : url(../images/checkBox.png);
}

.programming {
list-style-image : url(../images/keyboard1.png);
}

.heading {
cursor : pointer;
}

.projects {
cursor : pointer;
}

#edu {
list-style-image : url(../images/edu15.png);
}

#certs {
list-style-image : url(../images/Cert.png);
}

#eduCert {
text-indent : 30px;
}

.indent {
text-indent : 30px;
}

#schools {
list-style : none;
padding : 6px 0px 0px 20px;
}

#subjects {
}

#ref {
background : url(../images/sky.jpg);
background-repeat: no-repeat;
background-size : cover;
}

#references {
list-style-image : url(../images/person.png);
}

.audit {
cursor : default;
}


